body{
    @include body;
    
}


.about-title{
    text-align: center;
    
    .title{
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 5vh;
        margin-bottom: 3rem;
        span{
            color: $secondary-color;
        }
    }
}

.about-info{
    display: grid;
    grid-template-areas: 'img bio bio'
    'tool1 tool2 tool3';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.about-img{
    grid-area: img;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

.about-bio{
    grid-area: bio;
    line-height: 1.2;
    background: lighten($color: $primary-color, $amount: 5);
    -ms-flex-item-align: center;
        align-self: center;
        padding: 1rem;
}

.tool{
    background: lighten($color: $primary-color, $amount: 5);
    border-bottom: 3px solid $secondary-color;
    padding: 1rem;
    margin-top: 4rem;
    text-align: center;
    i{
        color: $secondary-color;
        font-size: 3rem;
        margin-left: 50%;
        margin-right: 50%;
        margin-bottom: 1rem;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

.tool-1{
    grid-area: tool1;
}
.tool-2 {
    grid-area: tool2;
}
.tool-3 {
    grid-area: tool3;
}