@include mediaXl{
    .contact-box {
        grid-template-columns: 1fr 1fr;
    }
}
@include mediaLg {
    .contact-box {
        grid-template-columns: 1fr 1fr;
    }
}

@include mediaMd {
    .menu-branding, .menu-nav{
        float: none;
        width: 100%;
        &.show {
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
        }

        }
        .menu-branding{
            -webkit-transform: translate3d(-100%, 0, 0);
                    transform: translate3d(-100%, 0, 0);
            height: 25vh;
            .portrait{
                width: 150px;
                height: 150px;
            }
    }
    .menu-nav{
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        height: 75vh;
    }
 main{
     text-align: center;
    .lg-heading{
        line-height: 1;
        font-size: 4rem;
        margin-bottom: 1rem;
        }
    }
    .about-info {
        grid-template-areas: 'img''bio' 'tool1' 'tool2' 'tool3';
        grid-template-columns: 1fr;
    }

    .projects{
         grid-template-columns: repeat(2, 1fr);
    }
    
}

@include mediaSm {
    .icons {
        width: 200px;
    }
    .menu-btn{
        top: 30px;
        right: 15px;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    .contact-box{
        grid-template-columns: 1fr;
    }
}
